### ต้องเขียนเอง อันนี้ไม่รู้วิธีเอาต้นฉบับออกมา หรืออาจจะมีให้ทีหลัง

# **Exploring object interface**

The best way to learn how to write object-oriented code is to study the design of existing classes. You've already learned about exploration tools like **`type()`** and **`dir()`**.

Another important function is **`help()`**: calling **`help(x)`** in the console will show the documentation for the object or class **`x`**.

Most real world classes have <ins>*many methods and attributes*</ins>, and it is easy to get lost, so in this exercise, you will start with something simpler. We have defined a class, and created an object of that class called mystery. Explore the object in the console using the tools that you learned.

Explore **`Employee`** in the console further to find out what attributes it has.

* Print the mystery employee's **`name`** attribute.
* Print the employee's **`salary`**.
* Give Natasha a raise of $`2500` by using a suitable method (use `help()` again if you need to!).
* Print the salary again.

In [ ]:
class Employee:
    """ 
    Class representing a company employee. 

    Attributes
    ----------
    name : str 
        Employee's name        
    email : str, default None
        Employee's email
    salary : float, default None
        Employee's salary
    rank : int, default 5
        The rank of the employee in the company hierarchy (1 -- CEO, 2 -- direct reports of CEO, 3 -- direct reports of direct reports of CEO etc). Cannot be None if the employee is current.
   
    ----------------------------------------------------------------------
    """
    def __init__(self, name, email=None, salary=None, rank=5):
        """Create an Employee object"""
        self.name, self.email, self.salary, self.rank = name, email, salary, rank
    
    def give_raise(self, amount):
        """Raise employee's salary by a certain `amount`. Can only be used with current employees.
       
       Example usage:
         # emp is an Employee object
         emp.give_raise(1000)"""
        if self.salary is not None:
            self.salary += amount
    
    def promote(self):
        """Promote an employee to the next level of the company hierarchy. Decreases the rank of the employee by 1. Can only be used on current employeed who are not at the top of the hierarchy.
       
       Example usage:
           # emp is an Employee object
           emp.promote()"""
        if (self.rank is not None) & (self.rank > 1):
            self.rank -= 1
    
    def terminate(self):
        """Terminate the employee. Sets salary and rank to None..
       
       Example usage:
          # emp is an Employee object
          emp.terminate()"""
        self.salary, self.rank = None, None
        
mystery = Employee(name="Natasha Ting", salary=73500.0)

In [ ]:
# Print the mystery employee's name
print(mystery.name)

# Print the mystery employ  ee's salary
print(mystery.salary)

# Give the mystery employee a raise of $2500
mystery.give_raise(2500)

# Print the salary again
print(mystery.salary)

Natasha Ting
73500.0
76000.0

### **Understanding class definitions**

Objects and classes consist of 
* ***attributes*** (storing the state) and 
* ***methods*** (storing the behavior)

Before you get to writing your own classes, you need to understand the basic structure of the class, and how attributes in the class definition relate to attributes in the object.

In [ ]:
class MyCounter:
    def set_count(self, n):
        self.count = n
mc = MyCounter()
mc.set_count(5)
mc.count = mc.count + 1
print(mc.count)

6

### Notice how you used ```self.count``` to refer to the **`count`** attribute **inside** a class definition, and ```mc.count``` to refer to the **`count`** attribute of an object.

### **Create your first class**

You'll start building the **`Employee`** class by creating methods that set attributes, and then add a few methods that manipulate them.

An object-oriented approach is most useful when your code <ins>involves complex interactions of many objects</ins>. In real production code, classes can have dozens of attributes and methods with complicated logic, but the underlying structure is the same as with the most simple class.

* Create an empty class **`Employee`**.
* Create an object **`emp`** of the class **`Employee`** by calling **`Employee()`**.
* Try printing the **`.name`** attribute of emp object in the console. What happens?

In [ ]:
# Create an empty class Employee
class Employee:
    pass

# Create an object emp of class Employee 
emp = Employee()
emp.name

AttributeError: ignored

* Modify the Employee class to include a `.set_name()` method that takes a `new_name` argument, and assigns `new_name` to the `.name` attribute of the class.
* Use the `set_name()` method on `emp` to set the name to `'Korel Rossi'`.
* Print `emp.name`.

In [ ]:
# Include a set_name method
class Employee:
  
  def set_name(self, new_name):
      self.name = new_name
  
# Create an object emp of class Employee  
emp = Employee()

# Use set_name() on emp to set the name of emp to 'Korel Rossi'
emp.set_name('Korel Rossi') 

# Print the name of emp
print(emp.name)

Korel Rossi

* Follow the pattern to add another method - `set_salary()` - that will set the salary attribute of the class to the parameter `new_salary` passed to method.
* Set the salary of `emp` to `50000`.
* Try printing `emp.salary` before and after calling `set_salary()`.

In [ ]:
class Employee:
  
    def set_name(self, new_name):
        self.name = new_name
    
    # Add set_salary() method
    def set_salary(self, new_salary):
        self.salary = new_salary
  
  
# Create an object emp of class Employee  
emp = Employee()

# Use set_name to set the name of emp to 'Korel Rossi'
emp.set_name('Korel Rossi')

print(emp.salary)

AttributeError: ignored

In [ ]:
class Employee:
  
    def set_name(self, new_name):
        self.name = new_name
  
  # Add set_salary() method
    def set_salary(self, new_salary):
        self.salary = new_salary
  
  
# Create an object emp of class Employee  
emp = Employee()

# Use set_name to set the name of emp to 'Korel Rossi'
emp.set_name('Korel Rossi')

# Set the salary of emp to 50000
emp.set_salary(50000)
print(emp.salary)

50000

### Try running **`dir(emp)`** in the console and see if you can find where these attributes and methods pop up!

In [ ]:
dir(emp)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'name',
 'salary',
 'set_name',
 'set_salary']

### **Using attributes in class definition**

In the previous exercise, you defined an `Employee` class with two attributes and two methods setting those attributes. This kind of method, aptly called a **`setter`** method, is far from the only possible kind. <ins>**Methods are functions**</ins>, so anything you can do with a function, you can also do with a method. For example, you can use methods to print, return values, make plots, and raise exceptions, as long as it makes sense as the behavior of the objects described by the class (an `Employee` probably wouldn't have a `pivot_table()` method).

In this exercise, you'll go beyond the **`setter`** methods and learn how to use existing class attributes to define new methods. The `Employee` class and the `emp` object from the previous exercise are in your script pane.

* Print the `salary` attribute of `emp`.
* Attributes aren't read-only: use assignment (equality sign) to increase the salary attribute of `emp` by `1500`, and print it again.

In [ ]:
class Employee:
    def set_name(self, new_name):
        self.name = new_name

    def set_salary(self, new_salary):
        self.salary = new_salary 
  
emp = Employee()
emp.set_name('Korel Rossi')
emp.set_salary(50000)

# Print the salary attribute of emp
print(emp.salary)

# Increase salary of emp by 1500
emp.salary += 1500
# Print the salary attribute of emp again
print(emp.salary)

50000
51500

Raising a salary for an employee is a *common pattern of behavior*, so it should be part of the class definition instead.

* Add a method `give_raise()` to Employee that increases the salary by the amount passed to `give_raise()` as a parameter.

In [ ]:
class Employee:
    def set_name(self, new_name):
        self.name = new_name

    def set_salary(self, new_salary):
        self.salary = new_salary 

    # Add a give_raise() method with raise amount as a parameter
    def give_raise(self, amount):
        self.salary += amount


emp = Employee()
emp.set_name('Korel Rossi')
emp.set_salary(50000)

print(emp.salary)
emp.give_raise(1500)
print(emp.salary)

50000
51500

Methods don't have to just modify the attributes - they can return values as well!

* Add a method `monthly_salary()` that returns the value of the `.salary` attribute divided by `12`.
* Call `.monthly_salary()` on `emp`, assign it to `mon_sal`, and print.

In [ ]:
class Employee:
    def set_name(self, new_name):
        self.name = new_name

    def set_salary(self, new_salary):
        self.salary = new_salary 

    def give_raise(self, amount):
        self.salary = self.salary + amount

    # Add monthly_salary method that returns 1/12th of salary attribute
    def monthly_salary(self):
        return self.salary/12

    
emp = Employee()
emp.set_name('Korel Rossi')
emp.set_salary(50000)

# Get monthly salary of emp and assign to mon_sal
mon_sal = emp.monthly_salary()

# Print mon_sal
print(mon_sal)

4166.666666666667

# ***Class anatomy: the `__init__` constructor***

In [ ]:
class Customer:
    def __init__(self, name):
        self.name = name # <--- Create the .name attribute and set it to name parameter
        print("The __init__ method was called")
        
cust = Customer("Lara de Silva") #<--- __init__ is implicitly called
print(cust.name)

The __init__ method was called
Lara de Silva

We can add more values to **`__init__`**.

In [ ]:
class Customer:
    def __init__(self, name, balance): # <-- balance parameter added
        self.name = name
        self.balance = balance # <-- balance attribute added
        print("The __init__ method was called")
        
cust = Customer("Lara de Silva", 1000) # <-- __init__ is called
print(cust.name)
print(cust.balance)

The __init__ method was called
Lara de Silva
1000

# **Best practices creating classes**
1. **Initialize attributes in** **`__init__()`**
2. **Naming**
  * `CamelCase` for class,
  * `lower_snake_case` for functions and attributes
3. **`self`** is `self`
4. **Use docstrings**

In [ ]:
class MyClass:
    """This class does nothing"""
    pass

### **Add a class constructor**

Instead of using the methods like `set_salary()` that you wrote in the previous lesson, you will introduce a constructor that assigns name and salary to the employee at the moment when the object is created.

You'll also create a new attribute -- `hire_date` -- which will **NOT** be initialized through parameters, but instead will contain the current date.

Initializing attributes in the constructor is a good idea, because this ensures that the object has all the necessary attributes the moment it is created.

1. Define the class `Employee` with a constructor **`__init__()`** that:

  * accepts two arguments, `name` and `salary` (with default value `0`),
  * creates two attributes, also called `name` and `salary`,
  * sets their values to the corresponding arguments.

In [ ]:
class Employee:
    # Create __init__() method
    def __init__(self, name, salary=0):
        # Create the name and salary attributes
        self.name = name
        self.salary = salary
    
    # From the previous lesson
    def give_raise(self, amount):
        self.salary += amount

    def monthly_salary(self):
        return self.salary/12
        
emp = Employee("Korel Rossi")
print(emp.name)
print(emp.salary)

Korel Rossi
0

The **`__init__()`** method is a great place to do preprocessing.

* Modify **`__init__()`** to check whether the `salary` parameter is positive:
  * if yes, assign it to the `salary` attribute,
  * if not, assign `0` to the attribute and print `"Invalid salary!"`.

In [ ]:
class Employee:
  
    def __init__(self, name, salary=0):
        self.name = name
        # Modify code below to check if salary is positive
        self.salary = salary if salary > 0 else 0, print("Invalid salary!")

   
   # ...Other methods omitted for brevity ...
      
emp = Employee("Korel Rossi", -1000)
print(emp.name)
print(emp.salary[0]) # เพราะการเขียนแบบข้างต้นไปเปลี่ยนให้ self.salary เป็น tuple
print(emp.salary)

Invalid salary!
Korel Rossi
0
(0, None)

ถ้าเขียนแบบปกติ ไม่ใช้ if statement ก็แบบด้านล่างนี้

In [ ]:
class Employee:
  
    def __init__(self, name, salary=0):
        self.name = name
        # Modify code below to check if salary is positive
        if salary > 0:
            self.salary = salary
        else:
            self.salary = 0
            print("Invalid salary!")
   # ...Other methods omitted for brevity ...
      
emp = Employee("Korel Rossi", -1000)
print(emp.name)
print(emp.salary)

Invalid salary!
Korel Rossi
0

# You can use functions from other modules in your class definition, but you need to import the module first, and the import statement has to be ***outside*** class definition.

* Import `datetime` from the `datetime` module. This contains the function that returns current date.
* Add an attribute `hire_date` and set it to **`datetime.today()`**.

In [ ]:
# Import datetime from datetime
from datetime import datetime

class Employee:
    
    def __init__(self, name, salary=0):
        self.name = name
        if salary > 0:
          self.salary = salary
        else:
          self.salary = 0
          print("Invalid salary!")
          
        # Add the hire_date attribute and set it to today's date
        self.hire_date = datetime.today()
        
   # ...Other methods omitted for brevity ...
      
emp = Employee("Korel Rossi", -1000)
print(emp.name)
print(emp.salary)
print(emp.hire_date.strftime('%Y-%m-%d'))

Invalid salary!
Korel Rossi
0
2022-01-07

### **Write a class from scratch**

You want to be able to tell the position of the element, how far it is from other elements, and easily implement horizontal or vertical flip .

The most basic element of any visualization is a single point. In this exercise, you'll write a class for a point on a plane from scratch.

Define the class `Point` that has:

* Two attributes, `x` and `y` - the coordinates of the point on the plane;
* A constructor that accepts two arguments, `x` and `y`, that initialize the corresponding attributes. These arguments should have default value of `0.0`;
* A method `distance_to_origin()` that returns the distance from the point to the origin. The formula for that is $\sqrt{x^2 + y^2}$
* *A method* `reflect()`, that reflects the point with respect to the x- or y-axis:
  * accepts one argument `axis`,
  * if `axis="x"` , it sets the `y` (not a typo!) attribute to the negative value of the `y` attribute,
  * if `axis="y"`, it sets the `x` attribute to the negative value of the `x` attribute,
  * for any other value of axis, prints an error message.

  ![image.png]()

Note: *You can choose to use `sqrt()` function from either the `numpy` or the `math` package, but whichever package you choose, **don't forget to import it** before starting the class definition!*

*To check your work, you should be able to run the following code without errors:*

```
pt = Point(x=3.0)
pt.reflect("y")
print((pt.x, pt.y))
pt.y = 4.0
print(pt.distance_to_origin())
```

and return the output

```
(-3.0,0.0)
5.0
```

In [ ]:
# Write the class Point as outlined in the instructions
from math import sqrt

class Point:
    def __init__(self, x=0.0, y=0.0):
        self.x, self.y = x, y
    def distance_to_origin(self):
        return sqrt(self.x**2+self.y**2)
    def reflect(self, axis):
        if axis == "x":
            self.y = -self.y 
        elif axis == "y":
            self.x = -self.x 
        else:
            print("Error")

pt = Point(x=3.0)
pt.reflect("y")
print((pt.x, pt.y))
pt.y = 4.0
print(pt.distance_to_origin())

(-3.0, 0.0)
5.0

Notice how you implemented `distance_to_origin()` as a method instead of an attribute. Implementing it as an attribute would be less sustainable - you would have to recalculate it every time you change the values of the `x` and `y` attributes to make sure the object state stays current.

# ***Instance-level attributes***

In [ ]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

emp1 = Employee("Teo Mille", 50000)
emp2 = Employee("Marta Popov", 65000)
print(emp1.name, emp1.salary)
print(emp2.name, emp2.salary)

Teo Mille 50000
Marta Popov 65000

* `.name` , `.salary` are ***instance attributes***
* `self` binds to an instance

แต่ในบางครั้ง ก็อยากให้มี standard attributes ที่เหมือนกันทุกๆ instances เปรียบเสมือนตัวแปร **`global`** ใน `class` นั้นๆ

# ***Class-level attributes***

Class attributes store data that is shared among all the class instances. They are assigned values in the class body, and are referred to using the ```ClassName.syntax``` rather than ```self.syntax``` when used in methods.

In [ ]:
class MyClass:
    # Define a class attribute
    CLASS_ATTR_NAME = "attr_value"

## ***Class-level Data***

* <ins>Do NOT</ins> use **`self`** to *define* class attribute
* use

  ```
  ClassName.ATTR_NAME 
  ```
  
  to access the class attribute value

In [ ]:
class Employee:
    # Define a class attribute
    MIN_SALARY = 30000 #<--- no self.

    def __init__(self, name, salary):
        self.name = name

        # Use class name to access class attribute
        if salary >= Employee.MIN_SALARY: 
            self.salary = salary
        else:
            self.salary = Employee.MIN_SALARY

# ***Class methods***

* Methods are already "shared": same code for every instance
* But class methods can't use instance-level data

The first argument is not **`self`**, but **`cls`**, referring to the `class`, just like the **`self`** argument was a reference to a particular instance. Then you write it as any other function, keeping in mind that <ins>*you can't refer to any instance attributes in that method.*</ins> 

* To call a `class method`, we use class-dot-method syntax, rather than object-dot-method syntax.

In [ ]:
class MyClass:

    @classmethod                                # <---use decorator to declare a class method
    def my_awesome_method(cls, args, kwargs=0): # <---cls argument refers to the class
        pass
        # Do stuff here
        # Can't use any instance attributes :(
            
MyClass.my_awesome_method(args...)

## **ใช้ Class Methods เมื่อไหร่**

* ถ้าใช้ **`__init__()`** มันต้องมีการสร้าง instances ขึ้นมาก่อน
* ในการใช้งานจริง อาจต้องมีการสร้าง instances ผ่านทางไฟล์ข้อมูล ซึ่งเมื่อยังไม่มีการสร้าง instances ขึ้นมา ก็ใช้ **`__init__()`** ก่อนไม่ได้

In [ ]:
class Employee:
    MIN_SALARY = 30000
    def __init__(self, name, salary=30000):
        self.name = name
        if salary >= Employee.MIN_SALARY: 
            self.salary = salary
        else: 
            self.salary = Employee.MIN_SALARY
    
    @classmethod
    def from_file(cls, filename):
        with open(filename,"r") as f: 
            name = f.readline()
        return cls(name)  # cls refers to the class so this line calls __init__()

# Create an employee without calling Employee()
emp = Employee.from_file("employee_data.txt") 
print(emp.name, emp.salary)
type(emp)

Sandia Romanova 30000

__main__.Employee

### **Class-level attributes**

Class attributes store data that is shared among all the class instances. They are assigned values in the class body, and are referred to using the **`ClassName`**. syntax rather than **`self`**. syntax when used in methods.

In this exercise, you will be a game developer working on a game that will have several players moving on a grid and interacting with each other. As the first step, you want to define a `Player` class that will just move along a straight line. `Player` will have a `.position` attribute and a `.move()` method. The grid is limited, so the `position` of `Player` will have a maximal value.

1. Define a class `Player` that has:
  * A class attribute `MAX_POSITION` with value `10`.
  * The **`__init__()`** method that sets the `position` instance attribute to `0`.
  * Print `Player.MAX_POSITION`.
  * Create a `Player` object `p` and print its `MAX_POSITION`.

In [ ]:
# Create a Player class
class Player:
    MAX_POSITION = 10
    def __init__(self, position=0):
        self.position = position

# Print Player.MAX_POSITION       
print(Player.MAX_POSITION)

# Create a player p and print its MAX_POSITITON
p = Player()
print(p.MAX_POSITION)

10
10

2. Add a `move()` method with a steps parameter such that:

  * if `position` plus `steps` is less than `MAX_POSITION`, then add `steps` to `position` and assign the result back to `position`;
  * otherwise, set `position` to `MAX_POSITION`.

*Take a look at the console for a visualization!*

In [ ]:
class Player:
    MAX_POSITION = 10
    
    def __init__(self):
        self.position = 0

    # Add a move() method with steps parameter
    def move(self, steps):
        if self.position + steps < Player.MAX_POSITION:
            self.position += steps
        else:
            self.position = Player.MAX_POSITION
            
    # This method provides a rudimentary visualization in the console    
    def draw(self):
        drawing = "-" * self.position + "|" +"-"*(Player.MAX_POSITION - self.position)
        print(drawing)

p = Player(); p.draw()
p.move(4); p.draw()
p.move(5); p.draw()
p.move(3); p.draw()

|----------
----|------
---------|-
----------|

### **Changing class attributes**

You learned how to define class attributes and how to access them from class instances. So what will happen if you try to assign another value to a class attribute when accessing it from an instance? The answer is not as simple as you might think!

The Player class from the previous exercise is pre-defined. Recall that it has a `position` instance attribute, and `MAX_SPEED` and `MAX_POSITION` class attributes. The initial value of `MAX_SPEED` is `3`.

* Create two Player objects `p1` and `p2`.
* Print `p1.MAX_SPEED` and `p2.MAX_SPEED`.
* Assign `7` to `p1.MAX_SPEED`.
* Print `p1.MAX_SPEED` and `p2.MAX_SPEED` again.
* Print `Player.MAX_SPEED`.
* *Examine the output carefully*.

In [ ]:
# Create a Player class
class Player:
    MAX_POSITION = 10
    MAX_SPEED = 3
    def __init__(self):
        self.position = 0

    # Add a move() method with steps parameter
    def move(self, steps):
        # if position plus steps is less than MAX_POSITION, then add steps to 
        # position and assign the result back to position.
        if self.position + steps < Player.MAX_POSITION:
            self.position += steps
        else: # otherwise, set position to MAX_POSITION
            self.position = Player.MAX_POSITION

    # This method provides a rudimentary visualization in the console (โจทย์มีมาให้)  
    def draw(self):
        drawing = "-" * self.position + "|" +"-"*(Player.MAX_POSITION - self.position)
        print(drawing)

# Create Players p1 and p2
p1, p2 = Player(), Player()

print("MAX_SPEED of p1 and p2 before assignment:")
# Print p1.MAX_SPEED and p2.MAX_SPEED
print(p1.MAX_SPEED)
print(p2.MAX_SPEED)

# Assign 7 to p1.MAX_SPEED
p1.MAX_SPEED = 7

print("MAX_SPEED of p1 and p2 after assignment:")
# Print p1.MAX_SPEED and p2.MAX_SPEED
print(p1.MAX_SPEED)
print(p2.MAX_SPEED)
print("MAX_SPEED of Player:")
# Print Player.MAX_SPEED
print(Player.MAX_SPEED)

MAX_SPEED of p1 and p2 before assignment:
3
3
MAX_SPEED of p1 and p2 after assignment:
7
3
MAX_SPEED of Player:
3

Even though `MAX_SPEED` is shared across instances, assigning `7` to `p1.MAX_SPEED` didn't change the value of `MAX_SPEED` in `p2`, or *even* in the `Player` class.

So what happened? In fact, Python created a new instance attribute in `p1`, also called it `MAX_SPEED`, and assigned `7` to it, without touching the class attribute.

Now let's change the class attribute value for real.

* Modify the assignment to assign `7` to Player.MAX_SPEED instead.

In [ ]:
class Player:
    MAX_POSITION = 10
    MAX_SPEED = 3
    def __init__(self):
        self.position = 0

    # Add a move() method with steps parameter
    def move(self, steps):
        # if position plus steps is less than MAX_POSITION, then add steps to 
        # position and assign the result back to position.
        if self.position + steps < Player.MAX_POSITION:
            self.position += steps
        else: # otherwise, set position to MAX_POSITION
            self.position = Player.MAX_POSITION

    # This method provides a rudimentary visualization in the console (โจทย์มีมาให้)  
    def draw(self):
        drawing = "-" * self.position + "|" +"-"*(Player.MAX_POSITION - self.position)
        print(drawing)

# Create Players p1 and p2
p1, p2 = Player(), Player()

print("MAX_SPEED of p1 and p2 before assignment:")
# Print p1.MAX_SPEED and p2.MAX_SPEED
print(p1.MAX_SPEED)
print(p2.MAX_SPEED)

#######################################################
#               ---MODIFY THIS LINE---                # 
####################################################### 
Player.MAX_SPEED = 7

print("MAX_SPEED of p1 and p2 after assignment:")
# Print p1.MAX_SPEED and p2.MAX_SPEED
print(p1.MAX_SPEED)
print(p2.MAX_SPEED)

print("MAX_SPEED of Player:")
# Print Player.MAX_SPEED
print(Player.MAX_SPEED)

MAX_SPEED of p1 and p2 before assignment:
3
3
MAX_SPEED of p1 and p2 after assignment:
7
7
MAX_SPEED of Player:
7

You shouldn't be able to change the data in all the instances of the class through a single instance. If you want to change the value of the class attribute at runtime, you need to do it by ***referring to the class name***, not through an instance.

# ***@classmethod Constructors*** 
## (Instead of **`__init__()`**)

## `classmethod` จะใช้ class attributes ในตัว methods __ไม่ได้__ เปรียบเสมือนเป็นการสร้างค่าตั้งต้นใหม่ ด้วยวิธีอื่นนอกเหนือไปจาก **`__init__`**

สมมติจะเขียน `class BetterDate` ที่นอกจากจะมี attributes `year`, `month`, `day` แล้ว ยังสามารถสร้าง `BetterDate` objects จากสตริงเช่น "2020-04-30" ได้ด้วย

Python allows you to define class methods as well, using the **`@classmethod`** decorator and a special first argument **`cls`**. The main use of class methods is defining methods that return an instance of the class, but aren't using the same code as **`__init__()`**.

For example, you are developing a time series package and want to define your own class for working with dates, `BetterDate`. The attributes of the class will be `year`, `month`, and `day`. You want to have a constructor that creates `BetterDate` objects given the values for `year`, `month`, and `day`, but you also want to be able to create `BetterDate` objects from strings like `2020-04-30`

You might find the following functions useful:

*   **`.split("-")`** method will split a string at `"-"` into an array, e.g. `"2020-04-30".split("-")` returns `["2020", "04", "30"]`
*   `int()` will convert a string into a number, e.g. `int("2019")` is `2019`.
*  You also want to be able to convert a `datetime` object into a `BetterDate` object.

1. Add a class method `from_str()` that:

* accepts a string `datestr` of the format `'YYYY-MM-DD'`,
* splits `datestr` and converts each part into an integer,
* returns an instance of the class with the attributes set to the values extracted from `datestr`.

In [ ]:
class BetterDate:    
    # Constructor
    def __init__(self, year, month, day):
      # Recall that Python allows multiple variable assignments in one line
      self.year, self.month, self.day = year, month, day
    
    # Define a class method from_str
    @classmethod
    def from_str(cls, datestr):
        # Split the string at "-" and convert each part to integer
        parts = datestr.split("-")
        year, month, day = int(parts[0]), int(parts[1]), int(parts[2])
        # Return the class instance
        return cls(year, month, day)
        
bd = BetterDate.from_str('2020-04-30')   
print(bd.year)
print(bd.month)
print(bd.day)

2020
4
30

For compatibility, you also want to be able to convert a `datetime` object into a `BetterDate` object.

* Add a class method `from_datetime()` that accepts a `datetime` object as the argument, and uses its attributes **`.year`**, **`.month `**and **`.day`** to create a `BetterDate` object with the same attribute values.

In [ ]:
# import datetime from datetime
from datetime import datetime

class BetterDate:
    def __init__(self, year, month, day):
      self.year, self.month, self.day = year, month, day
      
    @classmethod
    def from_str(cls, datestr):
        year, month, day = map(int, datestr.split("-"))
        return cls(year, month, day)
      
    # Define a class method from_datetime accepting a datetime object
    @classmethod
    def from_datetime(cls, datetime):
        y, m, d = datetime.year, datetime.month, datetime.day
        return cls(y, m, d)

# You should be able to run the code below with no errors: 
today = datetime.today()     
bd = BetterDate.from_datetime(today)   
print(bd.year)
print(bd.month)
print(bd.day)

2022
1
8

There's another type of methods that are not bound to a class instance - ***static methods***, defined with the decorator **`@staticmethod`**. They are mainly used for helper or utility functions that could as well live outside of the class, but make more sense when bundled into the class. 

# ***Static Method***

1. Use **`@staticmethod`** decorator 
2. No need to use **`self`** or **`cls`** (static method is not for generating alternative instances.  If you want to generate an instance, use either calling the class' name, or class method constructor.)

The class with static methods below was modified from `Employee` class on DataCamp, but static method is not covered in the course.

In [ ]:
class Employee:
    # Define a class attribute
    MIN_SALARY = 30000 #<--- no self.

    def __init__(self, name, salary):
        self.name = name

        # Use class name to access class attribute
        if salary >= Employee.MIN_SALARY: 
            self.salary = salary
        else:
            self.salary = Employee.MIN_SALARY
    
    @staticmethod
    def get_min_salary():
        return Employee.MIN_SALARY

    @staticmethod
    def raise_min_salary(amount=5000):
        return Employee.get_min_salary() + amount  # เวลาอ้างถึง static method ต้องใช้ชื่อ Class ไม่ใช่ self.method_name ตามปกติ

print(Employee.get_min_salary())
print(Employee.raise_min_salary(8000))

30000
38000

# ***Inheritance***

### **Example:**

In [ ]:
class BankAccount:
    def __init__(self, balance):
        self.balance = balance
    def withdraw(self, amount):
        self.balance -= amount
# Empty class inherited from BankAccount
class SavingsAccount(BankAccount):
    pass

## **Child class has all of the the parent data**

In [ ]:
savings_acct = SavingsAccount(1000)
type(savings_acct)

__main__.SavingsAccount

In [ ]:
# Attribute inherited from BankAccount
savings_acct.balance

1000

In [ ]:
# Method inherited from BankAccount
savings_acct.withdraw(300)
savings_acct.balance

700

### **Create a subclass**

The purpose of child classes -- or sub-classes, as they are usually called - is to customize and extend functionality of the parent class.

Recall the `Employee` class from earlier. In most organizations, managers enjoy more privileges and more responsibilities than a regular employee. So it would make sense to introduce a `Manager` class that has more functionality than `Employee`.

But a `Manager` is still an employee, so the `Manager` class should be inherited from the `Employee` class.

* Add an empty `Manager` class that is inherited from `Employee`.
* Create an object `mng` of the `Manager` class with the name `Debbie Lashko` and salary `86500`.
* Print the name of `mng`.

In [ ]:
class Employee:
  MIN_SALARY = 30000    

  def __init__(self, name, salary=MIN_SALARY):
      self.name = name
      if salary >= Employee.MIN_SALARY:
        self.salary = salary
      else:
        self.salary = Employee.MIN_SALARY
        
  def give_raise(self, amount):
      self.salary += amount      
        
# Define a new class Manager inheriting from Employee
class Manager(Employee):
    pass

# Define a Manager object
mng = Manager('Debbie Lashko', 86500)

# Print mng's name
print(mng.name)

Debbie Lashko

* Remove the `pass` statement and add a `display()` method to the `Manager` class that just prints the string `"Manager"` followed by the full name, e.g. `"Manager Katie Flatcher"`
* Call the `.display()` method from the `mng` instance.

In [ ]:
class Employee:
  MIN_SALARY = 30000    

  def __init__(self, name, salary=MIN_SALARY):
      self.name = name
      if salary >= Employee.MIN_SALARY:
        self.salary = salary
      else:
        self.salary = Employee.MIN_SALARY
  def give_raise(self, amount):
    self.salary += amount      
        
# MODIFY Manager class and add a display method
class Manager(Employee):
    def display(self):
        print("Manager " + self.name)

mng = Manager("Debbie Lashko", 86500)
print(mng.name)

# Call mng.display()
mng.display()

Debbie Lashko
Manager Debbie Lashko

The `Manager` class now includes functionality that wasn't present in the original class (the `.display()` method) in addition to all the functionality of the `Employee` class.

# ***Customizing Inheritance Constructors***

In [ ]:
class BankAccount:
    def __init__(self, balance):
        self.balance = balance
    def withdraw(self, amount):
        self.balance -= amount

class SavingsAccount(BankAccount):

    # Constructor speficially for SavingsAccount with an additional parameter
    def __init__(self, balance, interest_rate):

        # Call the parent constructor using ClassName.__init__()
        BankAccount.__init__(self, balance) # <--- self is a SavingsAccount but also a BankAccount

        # Add more functionality
        self.interest_rate = interest_rate

# Construct the object using the new constructor
acct = SavingsAccount(1000, 0.03)
acct.interest_rate

0.03

# ***Adding functionality to Inherited Class***

In [ ]:
class BankAccount:
    def __init__(self, balance):
        self.balance = balance
    def withdraw(self, amount):
        self.balance -= amount

class SavingsAccount(BankAccount):

    def __init__(self, balance, interest_rate):
        BankAccount.__init__(self, balance) # <--- self is a SavingsAccount but also a BankAccount
        self.interest_rate = interest_rate

    # New functionality
    def compute_interest(self, n_periods = 1):
        return self.balance * ( (1 + self.interest_rate) ** n_periods - 1)

acct = SavingsAccount(1000, 0.03)
acct.compute_interest()

30.00000000000003

## ***More examples of Customizing functionality***

In [ ]:
class BankAccount:
    def __init__(self, balance):
        self.balance = balance
    def withdraw(self, amount):
        self.balance -= amount

class CheckingAccount(BankAccount):
    def __init__(self, balance, limit):
        BankAccount.__init__(self, balance)
        self.limit = limit
    
    def deposit(self, amount):
        self.balance += amount
    
    def withdraw(self, amount, fee=0):
        if fee <= self.limit:
            BankAccount.withdraw(self, amount + fee)
        else:
            BankAccount.withdraw(self, amount + self.limit)

check_acct = CheckingAccount(1000, 25)

# Will call withdraw from CheckingAccount
check_acct.withdraw(200, fee=15)
check_acct.balance

785

Trying this call for a generic `BankAccount` instance would cause an error, because the method defined in the `BankAccount` class was not affected by the changes in the subclass.

In [ ]:
bank_acct = BankAccount(1000)
bank_acct.withdraw(200, fee=15)

TypeError: ignored

### ***Method inheritance***

Inheritance is powerful because it allows us to reuse and customize code without rewriting existing code. By calling methods of the parent class within the child class, we reuse all the code in those methods, making our code concise and manageable.

In this exercise, you'll continue working with the `Manager` class that is inherited from the `Employee` class. You'll add new data to the class, and customize the `give_raise()` method to increase the manager's raise amount by a bonus percentage whenever they are given a raise.

A simplified version of the `Employee` class, as well as the beginning of the `Manager` class from the previous lesson is provided for you in the script pane.

1. Add a constructor to `Manager` that:

  * accepts `name`, `salary` (default `50000`), and project (default `None`)
  * calls the constructor of the `Employee` class with the `name` and `salary` parameters,
  * creates a `project` attribute and sets it to the `project` parameter.

2. Add a `give_raise()` method to `Manager` that:

  * accepts the same parameters as `Employee.give_raise()`, plus a `bonus` parameter with the default value of `1.05` (bonus of 5%)
  * multiplies amount by `bonus`
  * uses the `Employee`'s method to raise salary by that product.

In [ ]:
class Employee:
    def __init__(self, name, salary=30000):
        self.name = name
        self.salary = salary

    def give_raise(self, amount):
        self.salary += amount
        #print("Employee.give_raise")

        
class Manager(Employee):
  # Add a constructor that accepts name, salary (default 50000), and project (default None)
    def __init__(self, name, salary=50000, project=None):

        # Call the parent's constructor   
        Employee.__init__(self, name, salary)

        # Assign project attribute
        self.project = project

    def display(self):
        print("Manager ", self.name)

    # Add a give_raise method
    # accepts the same parameters as Employee.give_raise(), 
    # plus a bonus parameter with the default value of 1.05
    def give_raise(self, amount, bonus=1.05):
        Employee.give_raise(self, amount*bonus)
        #print("Manager.give_raise")

mngr = Manager("Ashta Dunbar", 78500)
mngr.give_raise(1000)
print(mngr.salary)
mngr.give_raise(2000, bonus=1.03)
print(mngr.salary)

79550.0
81610.0

In the new class, the use of the **default** values ensured that the signature of the customized method was compatible with its signature in the parent class. But what if we defined Manager's'`give_raise()` to have 2 ***non-optional*** parameters? What would be the result of `mngr.give_raise(1000)`?

*    Adding print statements to both `give_raise()` could help!

In [ ]:
class Employee:
    def __init__(self, name, salary=30000):
        self.name = name
        self.salary = salary

    def give_raise(self, amount):
        self.salary += amount
        print("Employee.give_raise")

        
class Manager(Employee):
  # Add a constructor that accepts name, salary (default 50000), and project (default None)
    def __init__(self, name, salary=50000, project=None):

        # Call the parent's constructor   
        Employee.__init__(self, name, salary)

        # Assign project attribute
        self.project = project

    def display(self):
        print("Manager ", self.name)

    # What if we defined Manager's'give_raise() to have 2 non-optional parameters?
    def give_raise(self, amount, bonus):
        # multiplies amount by bonus
        amount *= bonus
        # uses the Employee's method to raise salary by that product.
        Employee.give_raise(self, amount)
        print("Manager.give_raise")

mngr = Manager("Ashta Dunbar", 78500)
mngr.give_raise(1000, 1.05) # <=== You must fill in the positional argument
print(mngr.salary)
mngr.give_raise(2000, 1.03) 
print(mngr.salary)

Employee.give_raise
Manager.give_raise
79550.0
Employee.give_raise
Manager.give_raise
81610.0

# **Inheritance of class attributes**

You learned about ***class attributes and methods*** that are shared among all the instances of a class. How do they work with inheritance?

In this exercise, you'll create subclasses of the `Player` class from the first lesson of the chapter, and explore the inheritance of class attributes and methods.

The `Player` class has been defined for you. Recall that the Player class had two class-level attributes: `MAX_POSITION` and `MAX_SPEED`, with default values `10` and `3`.

* Create a class `Racer` inherited from `Player`,
* Assign `5` to `MAX_SPEED` in the body of the class.
* Create a `Player` object `p` and a `Racer` object `r` (no arguments needed for the constructor).

*Examine the printouts carefully.*

In [ ]:
# Create a Player class
class Player:

    MAX_POSITION = 10
    MAX_SPEED = 3

    def __init__(self):
        self.position = 0

    # Add a move() method with steps parameter
    def move(self, steps):
        # if position plus steps is less than MAX_POSITION, then add steps to 
        # position and assign the result back to position.
        if self.position + steps < Player.MAX_POSITION:
            self.position += steps
        else: # otherwise, set position to MAX_POSITION
            self.position = Player.MAX_POSITION

    # This method provides a rudimentary visualization in the console (โจทย์มีมาให้)  
    def draw(self):
        drawing = "-" * self.position + "|" +"-"*(Player.MAX_POSITION - self.position)
        print(drawing)

# Create a Racer class and set MAX_SPEED to 5
class Racer(Player):

    MAX_SPEED = 5
    
# Create a Player and a Racer objects
p = Player()
r = Racer()

print("p.MAX_SPEED = ", p.MAX_SPEED)
print("r.MAX_SPEED = ", r.MAX_SPEED)

print("p.MAX_POSITION = ", p.MAX_POSITION)
print("r.MAX_POSITION = ", r.MAX_POSITION)

p.MAX_SPEED =  3
r.MAX_SPEED =  5
p.MAX_POSITION =  10
r.MAX_POSITION =  10

# Class attributes CAN be inherited, and the value of class attributes CAN be overwritten in the child class. 

## Notice that the value of `MAX_SPEED` in `Player` was not affected by the changes to the attribute of the same name in `Racer`.

### ***Customizing a DataFrame***

In your company, any data has to come with a *timestamp* recording when the dataset was created, to make sure that outdated information is not being used. You would like to use pandas DataFrames for processing data, but you would need to customize the class to allow for the use of timestamps.

You will implement a small `LoggedDF` class that inherits from a regular pandas DataFrame but has a `created_at` attribute storing the timestamp. You will then augment the standard `to_csv()` method to always include a column storing the creation date.

1.   Implement a small `LoggedDF` class that inherits from a regular pandas DataFrame but has a `created_at `attribute storing the timestamp.
2.   You will then augment the standard `to_csv()` method to ***always include a column storing the creation date***.

#### *Tip: all DataFrame methods have many parameters, and it is not sustainable to copy all of them for each method you're customizing. The trick is to use variable-length arguments* `*args` *and* `**kwargs` *to catch all of them.*

* Define `LoggedDF` class inherited from `pd.DataFrame`.
* Define a constructor with arguments `*args` and `**kwargs` that:
  * calls the `pd.DataFrame` constructor with the same arguments,
  * assigns `datetime.today()` to `self.created_at`.

In [ ]:
from datetime import datetime
import pandas as pd

# Define LoggedDF inherited from pd.DataFrame and add the constructor
class LoggedDF(pd.DataFrame):
    def __init__(self, *args, **kwargs):
        pd.DataFrame.__init__(self, *args, **kwargs)
        self.created_at = datetime.today()
    
ldf = LoggedDF({"col1": [1,2], "col2": [3,4]})
print(ldf.values)
print(ldf.created_at.strftime('%d %B, %Y'))

[[1 3]
 [2 4]]
08 January, 2022

* Add a `to_csv()` method to `LoggedDF` that:
  * copies `self` to a temporary DataFrame using `.copy()`,
  * creates a new column `created_at` in the temporary DataFrame and fills it with `self.created_at`
  * calls `pd.DataFrame.to_csv()` on the *temporary variable*.

In [ ]:
from datetime import datetime
import pandas as pd

# Define LoggedDF inherited from pd.DataFrame and add the constructor
class LoggedDF(pd.DataFrame):
    def __init__(self, *args, **kwargs):
        pd.DataFrame.__init__(self, *args, **kwargs)
        self.created_at = datetime.today()

    def to_csv(self, *args, **kwargs):
    # Copy self to a temporary DataFrame
        temp = self.copy()
        
        # Create a new column filled with self.created_at
        temp["created_at"] = self.created_at.strftime('%d %B, %Y')
        
        # Call pd.DataFrame.to_csv on temp, passing in *args and **kwargs
        pd.DataFrame.to_csv(temp, *args, **kwargs)  # <== This is not "self"

ldf = LoggedDF({"col1": [1,2], "col2": [3,4]})
ldf.to_csv("ldf.csv")
pd.read_csv("ldf.csv").drop(columns='Unnamed: 0').head()

   col1  col2        created_at
0     1     3  08 January, 2022
1     2     4  08 January, 2022

Using `*args` and `**kwargs` allows you to not worry about keeping the signature of your customized method compatible.

### *Notice how in the very last line, you called the parent method and passed an object to it that isn't `self`.* 

### When you call parent methods in the class, they should accept some `object` as the first argument, and that object is usually `self`, but ***it doesn't have to be!***

If you want to use `self`:

```
def to_csv(self, *args, **kwargs):
        
        self["created_at"] = self.created_at.strftime('%d %B, %Y')
        pd.DataFrame.to_csv(self, *args, **kwargs)
``` 
This yields the same

# ***Operator Overloading: equality***

When comparing two objects of a custom class using **`==`**, Python by default compares just the object ***references***, not the data contained in the objects. What does this mean?

In [ ]:
class Customer:

    def __init__(self, name, balance, id):
        self.name, self.balance = name, balance 
        self.id = id 
        
customer1 = Customer("Maryam Azar", 3000, 123) 
customer2 = Customer("Maryam Azar", 3000, 123) 
print(customer1 == customer2)
print(customer1)
print(customer2)

False
<__main__.Customer object at 0x7fc2233f6490>
<__main__.Customer object at 0x7fc2233f6a50>

Since the references are not the same, they are not equal by default using **`==`**. To override this behavior, the class can implement the special **`__eq__()`** method, which accepts two arguments -- the objects to be compared -- and returns `True` or `False`.

In [ ]:
class BankAccount:
   # MODIFY to initialize a number attribute
    def __init__(self, number, balance=0):
        self.balance, self.number = balance, number
      
    def withdraw(self, amount):
        self.balance -= amount 
    
    # Define __eq__ that returns True if the number attributes are equal 
    def __eq__(self, other):
        return self.number == other.number

# Create accounts and compare them       
acct1 = BankAccount(123, 1000)
acct2 = BankAccount(123, 1000)
acct3 = BankAccount(456, 1000)
print(acct1 == acct2)
print(acct1 == acct3)

True
False

![image.png]()

![image.png]()

### ***Overloading equality***

When comparing two objects of a custom class using **`==`**, Python by default compares just the object ***references***, not the data contained in the objects. To override this behavior, the class can implement the special **`__eq__()`** method, which accepts two arguments -- the objects to be compared -- and returns **`True`** or **`False`**. This method will be implicitly called when two objects are compared.

The `BankAccount` class is available for you in the script pane. It has one attribute, `.balance`, and a `.withdraw()` method. Two bank accounts with the same balance are not necessarily the same account, but a bank account usually has an account number, and two accounts with the same account number should be considered the same.


* Try to create a few `BankAccount` objects in the console and compare them.

In [ ]:
class BankAccount:
   
    def __init__(self, balance=0):
        self.balance = balance
      
    def withdraw(self, amount):
        self.balance -= amount

acc1, acc2, acc3 = BankAccount(300), BankAccount(500), BankAccount(300) 
print(acc1 == acc2)
print(acc1 == acc3)

False
False

* Modify the **`__init__()`** method to accept a new parameter - `number` - and initialize a new `.number` attribute.
* Define an **`__eq__()`** method that returns `True` if the number attribute of two objects is equal.
* Examine the `print` statements and the output in the console.

In [ ]:
class BankAccount:
    ##########################################
    # MODIFY to initialize a number attribute#
    ##########################################
    def __init__(self, number, balance=0):
        self.balance, self.number = balance, number
      
    def withdraw(self, amount):
        self.balance -= amount 
    
    # Define __eq__ that returns True if the number attributes are equal 
    def __eq__(self, other):
        return self.number == other.number

# Create accounts and compare them       
acct1 = BankAccount(123, 1000)
acct2 = BankAccount(123, 1000)
acct3 = BankAccount(456, 1000)
print(acct1 == acct2)
print(acct1 == acct3)

True
False

Notice that your method compares just the account numbers, but not balances. What would happen if *two accounts have the same account number but different balances?* The code you wrote will treat these accounts as equal, but it might be better to throw an error - an exception - instead, informing the user that something is wrong.

### ***Checking class equality***

In the previous exercise, you defined a `BankAccount` class with a number attribute that was used for comparison. But if you were to compare a `BankAccount` object to an object of another class that also has a number attribute, you could end up with unexpected results.

For example, consider two classes.

In [ ]:

class Phone:
    def __init__(self, number):
        self.number = number

    def __eq__(self, other):
        return self.number == other.number

class BankAccount:
    def __init__(self, number):
        self.number = number

    def __eq__(self, other):
        return self.number == other.number

acct = BankAccount(873555333)
pn = Phone(873555333)
acct == pn

True

Running `acct == pn` will return `True`, even though we're comparing a phone number with a bank account number.

It is good practice to check the class of objects passed to the **`__eq__()`** method to make sure the comparison makes sense.

* Modify the definition of `BankAccount` to only return `True` if the number attribute is the same and the `type()` of both objects passed to it is the same.

In [ ]:
class BankAccount:
    def __init__(self, number, balance=0):
        self.number, self.balance = number, balance
      
    def withdraw(self, amount):
        self.balance -= amount 

    # MODIFY to add a check for the type()
    def __eq__(self, other):
        return ((self.number == other.number) & (type(self) == type(other)))

class Phone:
  def __init__(self, number):
     self.number = number

  def __eq__(self, other):
    return self.number == other.number

acct = BankAccount(873555333)
pn = Phone(873555333)
print(acct == pn)

#  Try running pn == acct in the console (with reversed order of equality). 
#  What does this tell you about the __eq__() method?
print(pn == acct)
#  The __eq__ method is based on the __eq__ of the left object.

False
True

Another way to ensure that an object has the same type as you expect is to use the **`isinstance(obj, Class)`** function.

### ***Comparison and inheritance***

What happens when an object is compared to an object of a child class? Consider the following two classes:

```
class Parent:
    def __eq__(self, other):
        print("Parent's __eq__() called")
        return True

class Child(Parent):
    def __eq__(self, other):
        print("Child's __eq__() called")
        return True
```

The `Child` class inherits from the `Parent` class, and both implement the **`__eq__()`** method that includes a diagnostic printout. Which **`__eq__()`** method will be called when the following code is run?

```
p = Parent()
c = Child()

p == c 
```

In [ ]:
class Parent:
    def __eq__(self, other):
        print("Parent's __eq__() called")
        return True

class Child(Parent):
    def __eq__(self, other):
        print("Child's __eq__() called")
        return True

p = Parent()
c = Child()

p == c

Child's __eq__() called

True

Python always calls the child's **`__eq__()`** method when comparing a child object to a parent object.

# ***Operator overloading: string representation***

In [ ]:
class Customer:
    def __init__(self, name, balance):
        self.name, self.balance = name, balance
    def __str__(self):  # <<<<<< รับมาเฉพาะ self เท่านั้น
        cust_str = """Customer: name: {name}balance: {balance}""".format(name = self.name, balance = self.balance)
        return cust_str

cust = Customer("Maryam Azar", 3000)

# Will implicitly call __str__()
print(cust)

Customer: name: Maryam Azarbalance: 3000

# **__repr__()**

* เวลาเขียนค่าที่เป็นผลลัพธ์ จะอยู่ในรูปที่ก็อปไปสร้างเป็น instances ใหม่ได้เลย

In [ ]:
class Customer:
    def __init__(self, name, balance):
        self.name, self.balance = name, balance
    def __repr__(self):
        # Notice the '...' around name
        return "Customer('{name}', {balance})".format(name = self.name, balance = self.balance)

cust = Customer("Maryam Azar", 3000)
cust # <--- # Will implicitly call __repr__()

Customer('Maryam Azar', 3000)

### ***String formatting review***

Before you start defining custom string representations for objects, make sure you are comfortable working with strings and formatting them. If you need a refresher, take a minute to look through the [official Python tutorial on string formatting](https://docs.python.org/3/library/stdtypes.html#str.format).

In this exercise, consider the following code

```
my_num = 5
my_str = "Hello"

f = ...
print(f)
```

where the definition for `f` is missing.

Write the definition of `f` that will make the code above print exactly the following:

```
my_num is 5, and my_str is "Hello".
```

In [ ]:
my_num, my_str = 5, "Hello"
print("my_num is {}, and my_str is \"{}\".".format(my_num, my_str))

my_num is 5, and my_str is "Hello".

### ***String representation of objects***

There are two special methods in Python that return a string representation of an object. **`__str__()`** is called when you use **`print()`** or **`str()`** on an object, and **`__repr__()`** is called when you use **`repr()`** on an object, print the object in the console without calling **`print()`**, or instead of **`__str__()`** if **`__str__()`** is not defined.

**`__str__()`** is supposed to provide a "user-friendly" output describing an object, and**` __repr__()`** should return the expression that, when evaluated, will return the same object, ensuring the reproducibility of your code.

In this exercise, you will continue working with the `Employee` class.

Add the **`__str__()`** method to Employee that satisfies the following:

* If `emp` is an `Employee` object with name `"Amar Howard"` and salary of `40000`, then `print(emp)` outputs

```
Employee name: Amar Howard
Employee salary: 40000
```

In [ ]:
class Employee:
    def __init__(self, name, salary=30000):
        self.name, self.salary = name, salary
      
    def __str__(self):
        return "Employee name: {name}\nEmployee salary: {salary}".format(name=self.name, salary=self.salary)      

emp1 = Employee("Amar Howard", 30000)
print(emp1)
emp2 = Employee("Carolyn Ramirez", 35000)
print(emp2)

Employee name: Amar Howard
Employee salary: 30000
Employee name: Carolyn Ramirez
Employee salary: 35000

* Add the **`__repr__()`** method to `Employee` that satisfies the following:

  * If `emp` is an `Employee` object with name `"Amar Howard"` and `salary` of `40000`, then `repr(emp)` outputs
```
Employee("Amar Howard", 40000)
```

# To format a string with variables, you can either use

1.    keyword arguments in `.format ('Insert {n} here'.format(n=num))`
2.    refer to them by position index explicitly (like `'Insert {0} here'.format(num)`)
3.   implicitly (like `'Insert {} here'.format(num)`)

# To nest the same set of quotation marks, 
# you need to escape them with a slash like `\"`.

*   `__str__()` is supposed to provide a "user-friendly" output describing an object. 
*   `__repr__()` should return the expression that, when evaluated, will return the same object, ***ensuring the reproducibility of your code***.

In [ ]:
class Employee:
    def __init__(self, name, salary=30000):
        self.name, self.salary = name, salary
            
    # Add the __str__() method
    def __str__(self):
        a = """Employee name: {}\nEmployee salary: {}""".format(self.name, self.salary)
        return a
    # Add the __repr__method  
    def __repr__(self):
        return f'Employee("{self.name}", {self.salary})'

emp1 = Employee("Amar Howard", 30000)
print(repr(emp1))
emp2 = Employee("Carolyn Ramirez", 35000)
print(repr(emp2))

Employee("Amar Howard", 30000)
Employee("Carolyn Ramirez", 35000)

### You should always define *at least one of the string representation methods* for your object to make sure that the person using your class can get important information about the object easily.

# ***Catching exceptions***

## **Exception handling**

In [ ]:
try:
    # Try running some code
except ExceptionNameHere:
    # Run this code if ExceptionNameHere happens
except AnotherExceptionHere: #<-- can have multiple except blocks
    # Run this code if AnotherExceptionHere happens
...
finally: #<-- optional
    # Run this code no matter what

# ***Raising exceptions***

`raise ExceptionNameHere('Error message here')`

**Example**:

In [ ]:
def make_list_of_ones(length):
    if length <= 0:
        raise ValueError("Invalid length!") # <--- Will stop the program and raise an error
    return [1]*length
    
make_list_of_ones(-1)

ValueError: ignored

# ***Custom exceptions***

* Inherit from `Exception` or one of its subclasses
* Usually an empty class

In [ ]:
class BalanceError(Exception): 
    pass

class Customer:
    def __init__(self, name, balance):
        if balance < 0 :
            raise BalanceError("Balance has to be non-negative!")
        else:
            self.name, self.balance = name, balance

cust = Customer("Larry Torres", -100)

BalanceError: ignored

# ***Catching custom exceptions***

In [ ]:
class BalanceError(Exception): 
    pass

class Customer:
    def __init__(self, name, balance):
        if balance < 0 :
            raise BalanceError("Balance has to be non-negative!")
        else:
            self.name, self.balance = name, balance

    def __repr__(self):
        return f'Customer("{self.name}", {self.balance})'

try:
    cust = Customer("Larry Torres", -100)
except BalanceError:
    cust = Customer("Larry Torres", 0)

cust

Customer("Larry Torres", 0)

### ***Catching exceptions***

Before you start writing your own custom exceptions, let's make sure you have the basics of handling exceptions down.

In this exercise, you are given a function `invert_at_index(x, ind)` that takes two arguments, a list `x` and an index `ind`, and inverts the element of the list at that index. For example `invert_at_index([5,6,7], 1)` returns `1/6`, or `0.166666` .

Try running the code as-is and examine the output in the console. There are two unsafe operations in this function: first, if the element that we're trying to invert has the value `0`, then the code will cause a `ZeroDivisionError` exception. Second, if the index passed to the function is out of range for the list, the code will cause a `IndexError`. In both cases, the script will be interrupted, which might not be desirable.

Use a `try - except - except` pattern (with two except blocks) inside the function to catch and handle two exceptions as follows:

* try executing the code as-is,
* if `ZeroDivisionError` occurs, print `"Cannot divide by zero!"`,
* if `IndexError` occurs, print `"Index out of range!"`

*You know you got it right if the code runs without errors, and the output in the console is:*

```
0.16666666666666666
Cannot divide by zero!
None
Index out of range!
None
```

In [ ]:
# MODIFY the function to catch exceptions
def invert_at_index(x, ind):
    try:
        return 1/x[ind]
    except ZeroDivisionError:
        print("Cannot divide by zero!")
    except IndexError:
        print("Index out of range!")
a = [5,6,0,7]

# Works okay
print(invert_at_index(a, 1))

# Potential ZeroDivisionError
print(invert_at_index(a, 2))

# Potential IndexError
print(invert_at_index(a, 5))

0.16666666666666666
Cannot divide by zero!
None
Index out of range!
None

It's important to note, though, that this code will only be able to handle the two particular errors specified in the except blocks. Any other error would still terminate the program.

### ***Custom exceptions***

You don't have to rely solely on built-in exceptions like `IndexError`: you can define ***your own exceptions*** more specific to your application. You can also define exception hierarchies. <ins>*All you need to define an exception is a class inherited from the built-in Exception class</ins> or one of its subclasses*.

Previously, you defined an `Employee` class and used print statements and default values to handle errors like creating an employee with a salary below the minimum or giving a raise that is too big. A better way to handle this situation is to use exceptions. Because these errors are specific to our application (unlike, for example, a division by zero error which is universal), it makes sense to use custom exception classes.

* Define an empty class `SalaryError` inherited from the built-in `ValueError` class.
* Define an empty class `BonusError` inherited from the `SalaryError` class.
* Complete the definition of **`__init__()`** to raise a `SalaryError` with the message `"Salary is too low!"` if the salary parameter is less than `MIN_SALARY` class attribute.

*There's no need for `else` because `raise` terminates the program anyway.*


* Examine the `give_bonus()` method, and then rewrite it using exceptions instead of print statements:

  * raise a `BonusError` if the bonus amount is too high;
  * raise a `SalaryError` if the result of adding the bonus would be too low.

In [ ]:
# Define SalaryError inherited from ValueError
class SalaryError(ValueError):
    pass
# Define BonusError inherited from SalaryError
class BonusError(SalaryError):
    pass

class Employee:
    MIN_SALARY = 30000
    MAX_BONUS = 5000

    def __init__(self, name, salary = 30000):
        self.name = name        
        # If salary is too low
        if Employee.MIN_SALARY > salary:
            # Raise a SalaryError exception
            raise SalaryError("Salary is too low!")
        self.salary = salary

    # Rewrite using exceptions  
    def give_bonus(self, amount):
        if amount > Employee.MAX_BONUS:
            raise BonusError("The bonus amount is too high!")  
        elif self.salary + amount <  Employee.MIN_SALARY:
            raise SalaryError("The salary after bonus is too low!")
        else:  # <<<<<<< Optional
            self.salary += amount

Notice that if you `raise` an exception inside an `if` statement, you don't need to add an `else` branch to run the rest of the code. Because `raise` terminates the function, the code after raise will only be executed if an exception did not occur.

### ***Handling exception hierarchies***

Previously, you defined an `Employee` class with a method `get_bonus()` that raises a `BonusError` and a `SalaryError` depending on parameters. But the `BonusError` exception was inherited from the `SalaryError` exception. How does exception inheritance affect exception handling?

The `Employee` class has been defined for you. It has a minimal salary of `30000` and a maximal bonus amount of `5000`.

Experiment with the following code

and select the statement which is **TRUE** about handling parent/child exception classes:

In [ ]:
class SalaryError(ValueError): pass
class BonusError(SalaryError): pass

class Employee:
    MIN_SALARY = 30000
    MAX_BONUS = 5000

    def __init__(self, name, salary = 30000):
        self.name = name        
        if Employee.MIN_SALARY > salary:
            raise SalaryError("Salary is too low!")
        self.salary = salary

    def give_bonus(self, amount):
        if amount > Employee.MAX_BONUS:
            raise BonusError("The bonus amount is too high!")  
        elif self.salary + amount <  Employee.MIN_SALARY:
            raise SalaryError("The salary after bonus is too low!")
        else: 
            self.salary += amount

emp = Employee("Katze Rik", salary=50000)

try:
  emp.give_bonus(7000)
except SalaryError:
  print("SalaryError caught!")
print(emp.salary)

try:
  emp.give_bonus(7000)
except BonusError:
  print("BonusError caught!")
print(emp.salary)

try:
  emp.give_bonus(-100000)
except SalaryError:
  print("SalaryError caught again!")
print(emp.salary)

try:
  emp.give_bonus(-100000)
except BonusError:
  print("BonusError caught again!")  
print(emp.salary)

SalaryError caught!
50000
BonusError caught!
50000
SalaryError caught again!
50000

SalaryError: ignored

**`except`** block for a parent exception will catch child exceptions แต่ child exception (ในที่นี้ `BonusError`) จะไม่สามารถ catch parent exception (ในที่นี้ `SalaryError`) ได้ โดยดูได้จากโค้ดท่อนสุดท้าย `emp.give_bonus(-100000)` มันเป็น SalaryError ดังนั้นตรง `except BonusError:` จึงไม่สามารถจับ SalaryError ได้

* อธิบายสั้นๆคือ Parent Exception เป็นสับเซตของ Child Exception ดังนั้นทุกๆ Parent Error ก็จะหมายถึง Child Error ด้วย

In [ ]:
emp = Employee("Katze Rik", 50000)
try:
  emp.give_bonus(7000)
except SalaryError:
  print("SalaryError caught")
except BonusError:
  print("BonusError caught")

SalaryError caught

In [ ]:
emp = Employee("Katze Rik", 50000)
try:
  emp.give_bonus(7000)
except BonusError:
  print("BonusError caught")
except SalaryError:
  print("SalaryError caught")

BonusError caught

It's better to include an **`except`** block for a child exception before the block for a parent exception, otherwise the child exceptions will be always be caught in the parent block, and the except block for the child will never be executed.

In other words, it's better to list the **`except`** blocks in the increasing order of specificity, i.e. ***children before parents***, otherwise the child exception will be called in the parent **`except`** block.

# ***Polymorphism***

Using a unified interface to operate on objects of different
classes

### ***Polymorphic methods***

To design classes effectively, you need to understand *how inheritance and polymorphism work together*.

In this exercise, you have three classes - one parent and two children - each of which has a `talk()` method. Analyze the following code:

In [ ]:
class Parent:
    def talk(self):
        print("Parent talking!")     

class Child(Parent):
    def talk(self):
        print("Child talking!")          

class TalkativeChild(Parent):
    def talk(self):
        print("TalkativeChild talking!")
        Parent.talk(self)


p, c, tc = Parent(), Child(), TalkativeChild()

for obj in (p, c, tc):
    obj.talk()

Parent talking!
Child talking!
TalkativeChild talking!
Parent talking!

### Polymorphism ensures that the exact method called is determined dynamically based on the instance. What do you think would happen if Child did not implement talk()?

In [ ]:
class Parent:
    def talk(self):
        print("Parent talking!")     

class Child(Parent):
    pass         # Child did not implement talk() 

class TalkativeChild(Parent):
    def talk(self):
        print("TalkativeChild talking!")
        Parent.talk(self)


p, c, tc = Parent(), Child(), TalkativeChild()

for obj in (p, c, tc):
    obj.talk()

Parent talking!
Parent talking!
TalkativeChild talking!
Parent talking!

### ***Square and rectangle***

The classic example of a problem that violates the ***Liskov Substitution Principle*** is the Circle-Ellipse problem, sometimes called the Square-Rectangle problem.

By all means, it seems like you should be able to define a class `Rectangle`, with attributes `h` and `w` (for height and width), and then define a class `Square` that inherits from the `Rectangle`. After all, a square **"is-a"** rectangle!

Unfortunately, ***this intuition doesn't apply to object-oriented design***.

1. Create a class `Rectangle` with a constructor that accepts two parameters, `h` and `w`, and sets its `h` and `w` attributes to the values of h and w.
  * Create a class `Square` inherited from `Rectangle` with a constructor that accepts one parameter `w`, and sets both the `h` and `w` attributes to the value of `w`.

2. Create a `Square` object with side length `4`. Then try assigning `7` to the `h` attribute.
  What went wrong with these classes?

In [6]:
# Define a Rectangle class
class Rectangle:
    def __init__(self, h, w):
        self.h, self.w = h, w

# Define a Square class
class Square(Rectangle):
    def __init__(self, w):
        Rectangle.__init__(self, w, w)

s = Square(4)
s.h = 7
print(s.w, s.h)

4 7

The 4x4 `Square` object would no longer be a square if we assign 7 to `h`.

3. A Square inherited from a `Rectangle` will always have both the `h` and `w` attributes, but ***we can't allow them to change independently of each other.***

* Define methods `set_h()` and `set_w()` in `Rectangle`, each accepting one parameter and setting `h` and `w`.
* Define methods `set_h()` and `set_w()` in `Square`, each accepting one parameter, and setting both `h` and `w` to that parameter in both methods.

In [7]:
class Rectangle:
    def __init__(self, w,h):
        self.w, self.h = w,h

# Define methods set_h() and set_w() in Rectangle, 
# each accepting one parameter and setting h and w.     
    def set_h(self, h):
        self.h = h
      
# Define set_w to set w          
    def set_w(self, w):
        self.w = w
      
# Define methods set_h() and set_w() in Square, each accepting one parameter, 
# and setting both h and w to that parameter in both methods.      
class Square(Rectangle):
    def __init__(self, w):
      self.w, self.h = w, w 

# Define set_h to set w and h
    def set_h(self, h):
      self.h, self.w = h, h

# Define set_w to set w and h      
    def set_w(self, w):
      self.h, self.w = w, w

These setter methods violate Liskov Substitution principle because each of the setter methods of `Square` change <ins>**both**</ins> `h` and `w` attributes, while setter methods of `Rectangle` change only one attribute at a time, so the `Square` objects cannot be substituted for `Rectangle` into programs that rely on one attribute staying constant.

# ***Naming convention: internal attributes***

**`obj._att_name`** , **`obj._method_name()`**
* Starts with a single **`_`** → **"internal"**
* Not a part of the public API
* As a class user: ***"don't touch this"***
* As a class developer: use for implementation details, helper functions..

**Example**:
**`df._is_mixed_type`** , **`datetime._ymd2ord()`**

# ***Naming convention: pseudo-private attributes***

* **`obj.__attr_name`** , **`obj.__method_name()`**
* Starts with **`__`** but doesn't end with **`__`** $⟹$ **"private"**
* Name mangling: **`obj.__attr_name`** is interpreted as **`obj._MyClass__attr_name`**
* Used to prevent name clashes in inherited classes

Leading and trailing **`__`** are only used for built-in Python methods ( **`__init__()`** , **`__repr__()`** )!

### ***Using internal attributes***

Return to the `BetterDate` class of Chapter `2`. Your date class is better because it will use the sensible convention of having exactly 30 days in each month.

You decide to add a method that checks the validity of the date, but you don't want to make it a part of `BetterDate`'s public interface.

The class `BetterDate` is available in the script pane.

* Add a class attribute `_MAX_DAYS` storing the maximal number of days in a month - `30`.
* Add another class attribute storing the maximal number of months in a year - `12`. Use the appropriate naming convention to indicate that this is an internal attribute.
* Add an `_is_valid()` method that returns `True` if the day and month attributes are less than or equal to the corresponding maximum values, and `False` otherwise. Make sure to refer to the class attributes by their names!

In [1]:
# Add class attributes for max number of days and months
class BetterDate:
    _MAX_DAYS = 30
    _MAX_MONTHS = 12
    def __init__(self, year, month, day):
        self.year, self.month, self.day = year, month, day
        
    @classmethod
    def from_str(cls, datestr):
        year, month, day = map(int, datestr.split("-"))
        return cls(year, month, day)
    
    # Add _is_valid() checking day and month values
    def _is_valid(self):
        return True if (self.day <= BetterDate._MAX_DAYS) & (self.month <= BetterDate._MAX_MONTHS)  else False

    
bd1 = BetterDate(2020, 4, 30)
print(bd1._is_valid())

bd2 = BetterDate(2020, 6, 45)
print(bd2._is_valid())

True
False

If you see an attribute name with one leading underscore in someone's class,   

# **<ins>Don't</ins> use it!**

# **`@property`**

You could think of properties as attributes with built-in access control.

## *What do properties do?*

1.   Properties can be used to implement **"read-only"** attributes.
2.   Properties can be accessed using the dot syntax just like regular attributes.
3.   Properties allow for validation of values that are assigned to them.

In [18]:
class Employee:

  def __init__(self, name, new_salary):
      self._salary = new_salary  # <<<<<< Internal attribute ต้องมี _ นำหน้า

  @property         # <<<<< ต้องมี @property decorator
  def salary(self): # <<<<< ชื่อ method ต้องเหมือนกันกับชื่อ internal attribute เป๊ะๆ
      print("setup value called")
      return self._salary # internal attribute มี _ นำหน้า ชื่อ method ไม่ต้อง
  
  @salary.getter
  def salary(self): 
      print("getter method called")
      return self._salary 

  @salary.deleter
  def salary(self): 
      print("deleter method called")
      return self._salary

  @salary.setter    # ใช้เมื่อต้องการตั้งค่าของ internal attributes
  def salary(self, new_salary): # ใช้ชื่อ method เหมือนกับอันบนเลย
      print("setter method called")
      if new_salary < 0:
          raise ValueError("Invalid salary") 
      self._salary = new_salary

emp = Employee("Miriam Azari",35000)

# accessing the "property"
emp.salary     # <<<< แต่เวลาเรียก ไม่ต้องเขียน emp._salary

getter method called

35000

In [13]:
emp.salary = 60000 # <-- @salary.setter

setter method called

In [8]:
emp.salary = -1000

setter method called

ValueError: ignored

In [16]:
del emp.salary

deleter method called

# ***Read-only attributes***

* Do NOT add **`@ชื่อ_attribute.setter`** decorator

# **`@ชื่อ_attribute.getter`**

* Use for the method that is called when the property's value is retrieved

# **`@ชื่อ_attribute.deleter`**
* Use for the method that is called when the property is deleted using del


# ***Create and set properties***

There are two parts to defining a property:

  * first, define an "internal" attribute that will contain the data;
  * then, define a `@property`-decorated method *whose name is the property name*, and that returns the internal attribute storing the data.

If you'd also like to define a custom ***setter*** method, there's an additional step:

* define *another* method whose name is exactly the property name (again), and decorate it with **`@prop_name.setter`** where `prop_name` is the name of the property. The method should take two arguments -- **`self`** (as always), and the value that's being assigned to the property.

Create a `balance` property for a `Customer` class - a better, more controlled version of the `balance` attribute that you worked with before.

1. Create a Customer class with the **`__init__()`** method that:

  * takes parameters `name` and `new_bal`,
  * assigns `name` to the attribute `name`,
  * raises a `ValueError` if `new_bal` is negative,
  * otherwise, assigns `new_bal` to the attribute `_balance` (with `_`).

In [ ]:
class Customer:
    
    def __init__(self, name, new_bal):
        self.name = name
        if new_bal < 0:
            raise ValueError
        else:
            self._balance = new_bal

2. Add a method `balance()` with a **`@property`** decorator that returns the `_balance` attribute.

In [ ]:
class Customer:
    def __init__(self, name, new_bal):
        self.name = name
        if new_bal < 0:
           raise ValueError("Invalid balance!")
        self._balance = new_bal  
    
    # Add a decorated balance() method returning _balance
    @property
    def balance(self):
        return self._balance

3. Define another `balance()` method to serve as a ***setter***, with the appropriate decorator and an additional parameter:

  * Raise a `ValueError` if the parameter is negative,
  * otherwise assign it to `_balance` ;
  * print "Setter method is called".

In [ ]:
class Customer:
    def __init__(self, name, new_bal):
        self.name = name
        if new_bal < 0:
           raise ValueError("Invalid balance!")
        self._balance = new_bal  

    # Add a decorated balance() method returning _balance        
    @property
    def balance(self):
        return self._balance
     
    # Add a setter balance() method
    @balance.setter
    def balance(self, new_bal):
        # Validate the parameter value
        if new_bal < 0:
            raise ValueError
        else:
            self._balance = new_bal
        # Print "Setter method is called"
        print("Setter method is called")

4. Create a `Customer` named `Belinda Lutz` with the `balance` of `2000` and save it as `cust`.

* Use the dot syntax and the `=` to assign `3000` to `cust.balance.`
* Print `cust.balance`.

*In the console, try assigning -1000 to cust.balance. What happens?*

In [19]:
# Create a Customer class
class Customer:
    def __init__(self, name, new_bal):
        self.name = name
        if new_bal < 0:
            raise ValueError
        self._balance = new_bal

    # Add a decorated balance() method returning _balance
    @property
    def balance(self):
        return self._balance

    # Add a setter balance() method
    @balance.setter
    def balance(self, new_bal):
        # Validate the parameter value
        if new_bal < 0:
           raise ValueError("Invalid balance!")
        self._balance = new_bal
        print("Setter method called")

    # @balance.getter) that returns a value and gets executed every time the attribute is accessed.
    # ต้องมี @property ด้านบนก่อน ไม่งั้น Error
    @balance.getter
    def balance(self):
        print("Getter method called")
        return self._balance
        

# Create a Customer        
cust = Customer("Belinda Lutz",2000)

# Assign 3000 to the balance property
cust.balance = 3000

# Print the balance property
print(cust.balance)

Setter method called
Getter method called
3000

In [20]:
cust.balance = -1

ValueError: ignored

# ***Read-only properties***

The `LoggedDF` class above was an extension of the pandas DataFrame class that had an additional `created_at` attribute that stored the timestamp when the DataFrame was created, so that the user could see how out-of-date the data is.

But that class wasn't very useful: we could just assign any value to `created_at` after the DataFrame was created, thus defeating the whole point of the attribute! Now, using properties, we can make the attribute read-only.

The `LoggedDF` class from Chapter 2 is available for you in the script pane.

1. Assign a new value of `'2035-07-13'` to the `created_at` attribute.
  * Print the value of `ldf`'s `created_at` attribute to verify that your assignment was successful.

In [21]:
import pandas as pd
from datetime import datetime

# LoggedDF class definition from Chapter 2
class LoggedDF(pd.DataFrame):
    def __init__(self, *args, **kwargs):
        pd.DataFrame.__init__(self, *args, **kwargs)
        self.created_at = datetime.today()

    def to_csv(self, *args, **kwargs):
        temp = self.copy()
        temp["created_at"] = self.created_at
        pd.DataFrame.to_csv(temp, *args, **kwargs)   

# Instantiate a LoggedDF called ldf
ldf = LoggedDF({"col1": [1,2], "col2":[3,4]}) 

# Assign a new value to ldf's created_at attribute and print
ldf.created_at = '2035-07-13'
print(ldf.created_at)

2035-07-13

2. Create an internal attribute called `_created_at` to turn `created_at` into a read-only attribute.
* Modify the class to use the internal attribute, `_created_at`, in place of `created_at`.
* What happens when you assign `'2035-07-13'` to `ldf.created_at`?

In [22]:
import pandas as pd
from datetime import datetime

# MODIFY the class to use _created_at instead of created_at
class LoggedDF(pd.DataFrame):
    def __init__(self, *args, **kwargs):
        pd.DataFrame.__init__(self, *args, **kwargs)
        self._created_at = datetime.today()
    
    def to_csv(self, *args, **kwargs):
        temp = self.copy()
        temp["created_at"] = self._created_at
        pd.DataFrame.to_csv(temp, *args, **kwargs)   
    
    # Add a read-only property: _created_at
    @property
    def created_at(self):
        return self._created_at

# Instantiate a LoggedDF called ldf
ldf = LoggedDF({"col1": [1,2], "col2":[3,4]}) 

# Assign a new value to ldf's created_at attribute and print
ldf.created_at = "2035-07-13"

AttributeError: ignored

Notice that the `to_csv()` method in the original class was using the original `created_at` attribute. After converting the attribute into a property, you could replace the call to `self._created_at` with the call to the internal attribute that's attached to the property, or you could keep it as `self.created_at`, in which case you'll now be accessing the property. Either way works!